body{
    background-image: url('/Frontend/images/Background.png');
    background-size: cover;
    z-index: -1;
}

#back{
    height: 43px; 
    left: 70px; 
    top: 19px; 
    margin-top: 25px; 
    border-radius: 30px;
    background-color: transparent;
    position: absolute; 
    color:rgba(45, 255, 142, 1); 
    font-size: 29px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word;
    border-top-color: rgba(0, 252, 191, 1);
    border-bottom-color: rgba(0, 252, 191, 1) ;
    border-left-color: rgba(0, 252, 191, 1);
    border-right-color:rgba(0, 252, 191, 1) ;
}

#user{
    height: 43px; 
    left: 70px; 
    top: 19px;
    margin-top: 25px; 
    margin-left: 135px;
    border-radius: 30px;
    background-color: transparent;
    position: absolute; 
    color:rgba(45, 255, 142, 1); 
    font-size: 29px; 
    font-family: Inter; 
    font-weight: 400; 
    word-wrap: break-word;
    border-top-color: rgba(0, 252, 191, 1);
    border-bottom-color: rgba(0, 252, 191, 1) ; 
    border-left-color: rgba(0, 252, 191, 1);
    border-right-color:rgba(0, 252, 191, 1) ;
}

#slogan{
    color: #48C8FF;
    font-size: 29px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 11%;
    margin-left: 7%;
}

#box1{
    
   
    height: 300px;
    width: 300px;
    border-radius: 35px;
    overflow: visible;
    border-style: solid;
    border-top-color:rgba(0, 252, 191, 1);
    border-bottom-color:rgba(0, 252, 191, 1) ;
    border-left-color:rgba(0, 252, 191, 1);
    border-right-color:rgba(0, 252, 191, 1) ;
    z-index: 1;
    position: absolute;
    margin-left: 7%;
    margin-bottom: 5%;
    color: #48C8FF;
    font-size: 29px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    justify-content: center;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    background-color: transparent;
}

#box2{
    height: 300px;
    width: 300px;
    border-radius: 35px;
    overflow: visible;
    border-top-color:rgba(0, 252, 191, 1);
    border-bottom-color:rgba(0, 252, 191, 1);
    border-left-color:rgba(0, 252, 191, 1);
    border-right-color:rgba(0, 252, 191, 1) ;
    z-index: 1;
    position: absolute;
    margin-left: 36%;
    margin-bottom: 5%;
    color: #48C8FF;
    font-size: 29px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    justify-content: center;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    background-color: transparent;
    border-style: solid;

}

#box3{
    height: 300px;
    width: 300px;
    border-radius: 35px;
    overflow: visible;
    border-top-color:rgba(0, 252, 191, 1);
    border-bottom-color:rgba(0, 252, 191, 1); 
    border-left-color:rgba(0, 252, 191, 1);
    border-right-color:rgba(0, 252, 191, 1) ;
    z-index: 1;
    position: absolute;
    margin-left: 66%;
    margin-bottom: 5%;
    color: #48C8FF;
    font-size: 29px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
    justify-content: center;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    background-color: transparent;
    border-style: solid;
    
}


